@font-face {
    font-family: Shabnam;
    src: url(/Fonts/Shabnam.ttf);
  }
@font-face {
    font-family: Shabnam-Bold;
    src: url(/Fonts/Shabnam-Bold.ttf);
  }
@font-face {
    font-family: Nazanin;
    src: url(/Fonts/Far.Nazanin.ttf);
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 96.5%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FCFCFC;
    font-family: "Shabnam";
}
