main {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}

.RedText {
  color: #B8030A;
}

.HiddenIcon{
  visibility: hidden;
}

.slideBar{
    width: 25%;
    height: 33rem;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 3px 6px 15px -3px rgba(0,0,0,0.1);

}
.slideBar .Prices{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-bottom: 3px solid  #B8030A;
}
.slideBar .Prices .item_price{
    width: 70%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #F2F3F7;
    margin: 5px 0;
    position: relative;
    cursor: pointer; 
    text-decoration: none;
    color: #0C0C0C;
}
.MenueSide{
  width: 13rem;
  position: absolute;
  display: none;
  left: -13rem;
  z-index: 20;
  box-shadow: 0px 0px 12px 0px rgba(105,105,105,0.58)   ;
  border-radius: 2px;
  overflow: hidden;
  top: 0;
  background-color: #fff;
}
.MenueSide .listMenu{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem 0;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.MenueSide .listMenu a{
  text-decoration: none;
  color: black;
  text-align: right;
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: right;
  direction: rtl;
}
.MenueSide .listMenu a:hover{
  background-color: #EFEFEF;
}
.MenueSide .ColorEdge{
  height: 100%;
  width: 5px;
  position: absolute;
  background-color: #0C416D;
  right: 0;


}
.item_price:hover .MenueSide{
  display: flex;
  flex-direction: column;
  align-items: center;
   
}
.slideBar .Prices .item_price:hover .hoverColor{
  background-color: #0C416D;
   
}
.slideBar .Prices .item_price:hover .rightArrow{
  display: none;
   
}
.downArrow{
  display: none;
}
.slideBar .Prices .item_price:hover .downArrow{
  display: flex;
   
}

.slideBar .Prices .item_price h3{
   font-size: 15px;
   margin-right: 0.5rem;
}
.slideBar .Prices .hoverColor{
   height: 100%;
   width: 10px;
   background-color: #0a090998;
   position: absolute;
   right: 0;
}


.slideBar .Prices .item_price img{
    width: 20px;
}
.slideBar .SocialMedia img{
    
    width: 25px;
}



.slideBar .SocialMedia{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1rem;
}
.slideBar .SocialMedia .item_price{
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:right;
    padding-top: 2rem;
    
}
.slideBar .SocialMedia .item_price h4{
  margin-right: 1rem;
  cursor: pointer;
}

.MainFirstPage{
  width: 100%;
  position: relative;

}

.nameLogo{
    width: 75%;
    height: 33em;
    background: url(/Images/background.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 6px 15px -3px rgba(0,0,0,0.1);
    position: relative;
}
.nameLogo .BigLogo{
  width: 35%;
  height: 20rem;
  position: absolute;
  right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 70px;

    
}
.nameLogo .BigLogo .Name{
  width: 100%;
  text-align: right;
  direction: rtl;
  font-size: 60px;

    
}
.nameLogo .BigLogo .Poem{
  width: 100%;
  text-align: left;
  direction: rtl;
  font-size: 40px;
  margin-top: 2rem;
  color: #0A426D;

    
}
.nameLogo .BigLogo .Poem .redPoem{
  
    color: #B80C0A;
}
.steel-price{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.steel-price .price-Table{
    background-color: #E8E8E8;
    width: 100%;
    min-height:73%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7rem;
    flex-direction: column;
}
.steel-price .price-Table .sumeryPrice{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
    padding: 0 5rem;
}
.steel-price .price-Table .table-space{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.steel-price .price-Table .table-space .title-Tab{
    width: 90%;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.steel-price .price-Table .table-space .tables{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tabSteels {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.tabSteels .boxPrice{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
.tabSteels .boxPrice .TableHeader{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #d2ebff;
    box-shadow: 0px 10px 41px -3px rgba(0,0,0,0.1);
    justify-content: space-between;
    direction: rtl;
    }
.tabSteels .boxPrice .TableHeader .Hedi{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4rem;
    }
.tabSteels .boxPrice .TableHeader .Hedi:nth-child(1){
    width: 25%;
    }
.tabSteels .boxPrice .TableHeader .Hedi:nth-child(2){
    width: 35%;
    }
.tabSteels .boxPrice .TableHeader .Hedi:nth-child(3){
    width: 15%;
    }
.tabSteels .boxPrice .TableHeader .Hedi:nth-child(4){
    width: 15%;
    }

    .roWTabale{
      width: 100%;
      padding: 1rem 0;
      background-color: #fff;
      display: flex;
    align-items: center;
    flex-direction: column;
    }
    .roWTabale .RowP{
      width: 100%;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      direction: rtl;
      position: relative;
      font-size: 12px;
      margin: 5px 0;
    }
    .roWTabale .RowP:nth-child(6) .lineRed .Liner{
      background-color: #0a090900;
    }
    .roWTabale .RowP:nth-child(6){
      margin-bottom: 1rem;
    }
    .roWTabale .RowP .lineRed{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;

    }
    .roWTabale .RowP .lineRed .Liner{
      width: 90%;
      background-color: #B8030A;
      height: 1px;
      position: absolute;
      bottom: -4px;
    }
    .roWTabale .RowP h4{
      height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 4rem;
    }
    .roWTabale .RowP h4:nth-child(1){
    width: 25%;
    }
    .roWTabale .RowP h4:nth-child(2){
    width: 35%;
    }
    .roWTabale .RowP h4:nth-child(3){
    width: 15%;
    }
    .roWTabale .RowP h4:nth-child(4){
    width: 15%;
    }

    .boxPrice .ButtonMore{
      width: 100%;
      height: 4rem;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
      border-top: 2px solid #B8030A;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #0A426D;
    }

.tabSteels .boxPrice .box{
    width: 28rem;
    height: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #ffff;
    margin: 1rem 0;
    border-radius: 10px;
    overflow: hidden;
  }
.tabSteels .boxPrice .box .price-Box{
    width: 100%;
    height: 84%;
    border-bottom: 2px solid #B8030A;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
.tabSteels .boxPrice .box .price-Box .item-Info{
    width: 80%;
    height: 2.5rem;
    border-bottom: 1px solid #B8030A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    direction: rtl;

  }
.tabSteels .boxPrice .box .price-Box .item-Info h6{
    font-size: 12px;

  }
.tabSteels .boxPrice .box .price-Box .item-price{
    height: 100%;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
.tabSteels .boxPrice .box .price-Box .item-price img{
   width: 20px;
   height: 20px;

  }
.tabSteels .boxPrice .box h4{
    position: absolute;
    bottom: 0;
    background-color: #C0C0C0 ;
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
  }


  .Steel-tab {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;

  }
  
  /* Style the buttons inside the tab */
  .Steel-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    height: 100%;
    width: 10rem;
    font-family: "Shabnam" ;
    border-bottom: 5px solid #86838300;
    background-color: #D2EBFF;
    border-radius: 5px 5px 0 0;
    margin-left: 12px;


  }
  
  /* Change background color of buttons on hover */
  .Steel-tab button:hover {
    border-bottom: 4px solid #B8030A;
  }
  
  /* Create an active/current tablink class */
  /* .Steel-tab button.active {
    border-bottom: 4px solid #B8030A;
  } */


 .advertising{
    background-color: #B8030A;
    width: 100%;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
 .advertising h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 40%;
}
.advertising .blackCarbon{
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    z-index: 1;

}
 .advertising .galvano{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;

}



/* ////////////////////////////////////////BuyProcess///////////////////////////////////////////// */

.BuyProcess {
  width: 100%;
  padding: 3rem 0;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.BuyProcess .MainBuy{
  width: 100%;
  padding: 3rem 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E8E8E8;
  box-shadow: 0px 3px 12px 8px rgba(0,0,0,0.1);
}
.BuyProcess .MainBuy h2{
  width: 100%;
  text-align: right;
  margin-bottom: 3rem;
}
.BuyProcess .MainBuy .Tab-Process{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: rtl;
  margin-bottom: 1rem;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .Logo-Stage{
  width: 22%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .Logo-Stage .cycleLogo{
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .Logo-Stage .cycleLogo img{
  width: 100%;
  height: 100%;
  
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .Logo-Stage .downRedArrow{
  position: absolute;
  width: 15px;
  bottom: -10px;
}

.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .infoBox{
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage  .active{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .infoBox:hover{
  background-color: #c2e3ff34;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .infoBox .Number{
  width: 26%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nazanin";
  font-size: 70px;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .infoBox .Section{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .infoBox .Section h4:nth-child(1){
  color: #B8030A;
}
.BuyProcess .MainBuy .Tab-Process .Tab-title .stage .infoBox .Section h4{
  width: 90%;
  text-align: right;
}


.BuyProcess .MainBuy .Tab-Process .Tab-Info{
  width: 70%;
  height: 42rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.RedColor{
  color: #B42A31;
}


/* Style the buttons inside the tab */


/* Change background color of buttons on hover */


/* Create an active/current tablink class */
.Tab-title .active h4{
  color: #fff !important;
}
.Tab-title .active .Number{
  color: #fff !important;
}
.Tab-title .active {
  background-color: #B42A31 !important;
}

/* Style the tab content */
.tabNumber {
  width: 95%;
  height: 100%;
  
}
.tabNumber:nth-child(3) .order img{
  height: 10rem;
  width: 11rem;
}
.tabNumber:nth-child(4) .order img{
  height: 10rem;
  width: 11rem;
}
.tabNumber:nth-child(5) .order img{
  height: 10rem;
  width: 15rem;
}
.tabNumber:nth-child(6) .order img{
  height: 10rem;
}
.place-Flex {
  width: 95%;
  height: 98%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff ;
  border-radius: 10px;
}
.tabNumber .sign-img{
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.SecondArrow{
  margin-top: 6rem;
}
.ThirdArrow{
  margin-top: 12rem;
}
.FourArrow{
  margin-top: 18rem;
}
.FiveArrow{
  margin-top: 24rem;
}
.SixArrow{
  margin-top: 30rem;
}
.SevenArrow{
  margin-top: 36rem;
}
.tabNumber .sign-img img{
  width: 60%;
  height: 60%;
  position: absolute;
}
.tabNumber .order{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 3rem;
  color: #0A426D;
}
.tabNumber .order h1{
  width: 100%;
  margin-bottom: 1rem;
}
.tabNumber .order h3{
  width: 100%;
  margin-bottom: 1rem;
  line-height: 40px;
  color: black;
  font-size: 17px;
  direction: rtl;
  height: 15rem;
  overflow: auto;

}
.tabNumber .order img{
  width: 12rem;
  height: 12rem;
  margin-top: 2.5rem;

}

/* //////////////////////////////////////////////////////////chart////////////////////////////////////////////////// */

.chart-place{
  width: 100%;
  height: 50rem;
  margin-top: 2rem;
  background-color: #C0C0C0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 7rem;
}
.chart-place .titleChart{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: right;
  direction: rtl;
}
.chart-place .titleChart select{
  margin-right: 3rem;
  width: 13rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: "Shabnam";

}
.chart-place .Chart-Place{
  width: 100%;
  height: 90%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 15px 10px -10px rgb(0 0 0 / 50%), 0 1px 4px rgb(0 0 0 / 30%), inset 0 0 40px rgb(0 0 0 / 10%);
}

/* //////////////////////////////////////////////////////////quastion////////////////////////////////////////////////// */


.Questions{
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
padding: 0 0 4rem 0;
}
.Questions .title-question{
width: 100%;
height: 3.1rem;
display: flex;
align-items: center;
justify-content: center;
padding: 0 2rem;
position: relative;
}
.Questions .title-question h2{
  position: absolute;
  right: 7rem;
}

.tabQ {
  overflow: hidden;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;  

}

/* Style the buttons inside the tab */
.tabQ button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 15px;
  margin: 10px;
  font-family: "Shabnam" ;
  background-color: #E6E6E6;
  border-radius: 10px 10px 0 0;
  width: 10rem;



}

/* Change background color of buttons on hover */
.tabQ button:hover {
  background-color: #0a426d24;
}

/* Create an active/current tablink class */
.tabQ button.active {
  background-color: #0A426D;
  color: #fff;
}

/* Style the tab content */
.tabQuestion {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maineQuestion{
  width: 90%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #0A426D;
  margin-top: -10px;
  border-radius: 10px;
}
.mySlides{
  width: 100%;
}
.mySlides .items{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .RightBtn{
  position: absolute;
  z-index: 10;
  right: 5%;
  top: 45%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

}
 .LeftBtn{
  position: absolute;
  z-index: 10;
  left: 5%;
  top: 45%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.mySlides .items .Place-Boox{
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 1rem;
}
.mySlides .items .Place-Boox .box{
   width: 30rem;
   height: 9rem;
   background-color: #ffffff;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   border-radius: 10px;
   padding: 1rem;
   direction: rtl;
   margin: 10px;
   box-shadow: inset 0px 0px 18px 17px rgba(0,0,0,0.1);
  }
.mySlides .items .Place-Boox .box img{
   width: 2rem;
   height: 2rem;
}
.mySlides .items .Place-Boox .box .info-box{
   width: 25rem;
   height: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 1rem 0;
}
.mySlides .items .Place-Boox .box .info-box h5{
   width: 100%;
}
.mySlides .items .Place-Boox .box .info-box h6{
   width: 100%;
   margin-top: 1rem;
}
/* //////////////////////////////////////////////////////////article////////////////////////////////////////////////// */


.article-place{
 width: 100%;
 padding: 1rem;
 display: flex;
 align-items: center;
 flex-direction: column;
 box-shadow: 0px -16px 15px -3px rgba(0,0,0,0.1);
}
.article-place .title-box{
 width: 100%;
 padding: 2rem 6rem; 
 display: flex;
 align-items: center;
 justify-content: space-between;
 direction: rtl;

 
}
.article-place .title-box h3{
 color: #B80C0A;
}
.article-place .title-box .line{
  background-color: #7070707e;
  width: 80%;
  height: 2px;
}
.article-place .list-article{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  
}
.article-place .item-article{
  width: 19rem;
  height: 16rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  position: relative;
  box-shadow: 0px 3px 22px 13px rgba(0,0,0,0.1);

}
.article-place .item-article img{
  width: 100%;
  height: 70%;
  margin-bottom: 12px;
  box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.1);
}
.article-place .item-article h4{
  width: 100%;
  text-align: center;
  color: #B80C0A;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.1);
  position: absolute;
  bottom: 0;
  font-size: 13px;
}
  
/* <!-- //////////////////////////////////////////////////////colleague///////////////////////////////////////////////////         --> */

.companeis{
  width: 100%;
  padding: 2rem;
  background-color: #c0c0c0bc;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.companeis h3{
   width: 90%;
   text-align: right;
}
.main-company{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-company .companySlides{
  width: 100%;
  margin-top: 2rem;
  position: relative;
}
.place-items{
  width: 100%;
  position: relative;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
 .boxCompany{
  width: 12rem;
  height: 12rem;
  background-color: rgb(255, 255, 255);
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 1.5rem;
  position: relative;
}
.main-company .companySlides .place-items .boxCompany img{
  position: absolute;
  width: 70%;
  height: 70%;
}

.LeftBtnCom{
 position: absolute;
 width: 3rem;
 height: 3rem;
 border-radius: 50%;
 left: 6%;
 top: 12rem;
 background-color: #0a090900;
 cursor: pointer;
}
.RightBtnCom{
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  right: 6%;
  top: 12rem;
  background-color: #0a090900;
  cursor: pointer;
}

/* ////////////////////////////////////////////////Footer///////////////////////////////////////////////////////// */
.FooterStyle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F5F7FF;
  padding: 1rem;
  direction: rtl;
}
.FooterStyle .LogoIngo{
  width: 30%;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content:center;
  direction: ltr;
}
.FooterStyle .LogoIngo .Info{
  width: 70%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FooterStyle .LogoIngo .Info p{
  width: 100%;
  text-align: right;
  font-size: 15px;
  margin-bottom: 2rem;
}
.FooterStyle .LogoIngo .socialMedia{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  position: relative;
}
.FooterStyle .LogoIngo .socialMedia .LogoFooter{
  width: 90%;
  height: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
}
.FooterStyle .LogoIngo .socialMedia .SocialMediaIcon{
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.FooterStyle .LogoIngo .socialMedia .SocialMediaIcon img{
  width: 25px;
  margin: 0 10px;
}
.FooterStyle .LogoIngo .socialMedia .LogoFooter img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.FooterStyle .Accesses{
  width: 32%;
  height: 18rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.FooterStyle .Accesses .MainAccess{
  width: 100%;
  height: 90%;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
}
.FooterStyle .Accesses .MainAccess .SideAccess{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.FooterStyle .Accesses .MainAccess .SideAccess .RowLink{
  width: 90%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;

}
.FooterStyle .Accesses .MainAccess .SideAccess .RowLink img{
  width: 20px;
  margin-left: 1rem;
}
.FooterStyle .Accesses .MainAccess .SideAccess .RowLink a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.FooterStyle .Certificate{
  width: 30%;
  height: 18rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  
}
.Footer2{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0C0C0C;
  color: #fff;
}
